.App {

}

#q-input {
    border-radius: 3px;
    line-height: 35px;
    width: 100%;
    max-width: 420px;
    border: 1px solid #e4e4e4;
    background-color: #f8f8f8;
    padding: 0 20px;
    margin: 20px;
}
#q-input:focus {
    outline: none;
    background-color: #fff;
    border-color: #fff;
    border-bottom-color: #888;
}

.main-wrapper  {
    display: flex;
}

.properties-view {
    flex: 4;
    padding: 10px;
    max-height: calc(100vh - 130px);
    overflow-y: scroll;
}
.properties-view::-webkit-scrollbar {
    display: none;
}
  
.listing-view {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 0 10px;
}
.map-view {
    
}